$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

body {
  background: #b3b3b0;
  background: -webkit-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
  background: linear-gradient(top, #b3b3b0 0%,#e3e2dd 500px);
  background-color: #e3e2dd;
  background-repeat: no-repeat;
}

.main{
  position: relative;
  min-height: 100vh;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
  background-color: #fff;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@import 'header';
@import 'footer';
@import 'content';
