<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>wishlist</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css"></link>
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <script type="text/x-handlebars">
      {{render "main" main}}
    </script>

    <script type="text/x-handlebars" data-template-name="main-template">
      {{view "header"}}
        <div class="row content">
          <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
            {{render "add-item" controller.add-item}}
            {{render "item-list" controller.item-list}}
          </div>
        </div>
      {{view "footer"}}
    </script>

    <script type="text/x-handlebars" data-template-name="header-template">
      <div class="navbar navbar-inverse">
        <span class="navbar-brand">wishlist</span>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="add-item-template">
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addItemForm">
        Add item
      </button>
      {{render "item-form" controller.item-form id="addItemForm"}}
    </script>

    <script type="text/x-handlebars" data-template-name="item-form-template">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add item</h4>
            </div>
            <div class="modal-body form-horizontal">
              <div class="form-group row">
                <label for="productName" class="col-md-4 control-label">Item name</label>
                <div class="col-md-8">
                  {{input
                    classNames="form-control"
                    placeholder="e.g. Apple iPhone, Chicco Liteway Plus"
                    valueBinding="controller.name"
                  }}
                  <!--input type="text" class="form-control" id="productName" placeholder="e.g. Apple iPhone, Chicco Liteway Plus"-->
                </div>
              </div>
              <div class="form-group row">
                <label for="itemCategory" class="col-md-4 control-label">Item category</label>
                <div class="col-md-8">
                  {{input
                    classNames="form-control"
                    placeholder="e.g. mobile phone, baby stroller"
                    valueBinding="controller.category"
                  }}
                  <!--input type="text" class="form-control" id="itemCategory" placeholder="e.g. mobile phone, baby stroller"-->
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-offset-4 col-md-8">
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="item-form-template-1">
      <h2>Add item</h2>
      <div class="form-group">
        <label for="productName" class="col-md-4 control-label">Item name</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="productName" placeholder="e.g. Apple iPhone, Chicco Liteway Plus">
        </div>
      </div>
      <div class="form-group">
        <label for="itemCategory" class="col-md-4 control-label">Item category</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="itemCategory" placeholder="e.g. mobile phone, baby stroller">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <button class="btn btn-success">Save</button>
          <button class="btn btn-danger" {{action "toggleForm" target="view.parentView"}}>Cancel</button>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="item-list-template">
      {{#each item in controller}}
        {{render "item" item}}
      {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="item-template">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Panel Title Name
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            {{!--view "item-offer-list"--}}
          </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="footer-template">
      <div class="navbar navbar-inverse navbar-fixed-bottom">
        <p>Made with <span class="glyphicon glyphicon-heart"></span> and Ember.js</p>
      </div>
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <script src="/bower_components/ember/ember-template-compiler.js"></script>
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/ember/ember.debug.js"></script>
    <script src="/bower_components/blockUI/jquery.blockUI.js"></script>
    <script src="/bower_components/ember-data/ember-data.js"></script>
    <script src="/bower_components/ember-localstorage-adapter/localstorage_adapter.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js(.) scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->


    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>

    <!-- models -->
    <script src="scripts/model/Item.js"></script>

    <!-- controllers -->
    <script src="scripts/controller/MainController.js"></script>
    <script src="scripts/controller/AddItemController.js"></script>
    <script src="scripts/controller/ItemListController.js"></script>
    <script src="scripts/controller/ItemController.js"></script>
    <script src="scripts/controller/ItemFormController.js"></script>

    <!-- views -->
    <script src="scripts/view/MainView.js"></script>
    <script src="scripts/view/HeaderView.js"></script>
    <script src="scripts/view/FooterView.js"></script>
    <script src="scripts/view/AddItemView.js"></script>
    <script src="scripts/view/ItemFormView.js"></script>
    <script src="scripts/view/ItemListView.js"></script>
    <script src="scripts/view/ItemView.js"></script>


    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script-->
  </body>
</html>
